:root {
  --white: #FFF;
  --black: #000;
  --gray: #222;
  --light-blue: #CCE8FF;
  --blue: #008BFE;
  --bg-main: #F0F4F8;

  --btn-default: #008BFE;
  --btn-hover: #006FCB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#app {
  height: 100vh;
  padding: 50px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}